body {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    --purple-color: #6743ae;
    --purple-color-transparent: #6743aeab;
    --yellow-color: #f3db0b;
    --gray-color: #d2d2d2;
    color: var(--purple-color);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    pointer-events: none;
    background-image: linear-gradient(0deg, var(--purple-color), transparent);
    opacity: 0.5;
    z-index: 100;
}
#events {
    padding: 1rem 3rem;
}
h1 {
    color: var(--gray-color);
    text-transform: uppercase;
    
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: var(--gray-color);
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}
.ongoing-list li {
    background-color: var(--purple-color-transparent);
}

.ongoing-list .event-name {
    color: var(--gray-color);
}



@keyframes bounce {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.time-left {
    background-color: var(--purple-color);
    color: var(--gray-color);
    padding: 1rem;
    font-size: 1rem;
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    flex: 0 0 200px;
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time-left .time {
    
    font-size: 2.5rem;
}
.time-left .description {
    font-weight: normal;
}


.event-details {
    width: 100%;
}

.event-name {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.event-location {
    font-size: 1.5rem;
    background-color: var(--yellow-color);
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

#header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

#header #header-title,
#header #clock {
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
}

#header img {
    width: 200px;
}
